#page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#page-container.preload * {
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}

#footer {
 margin-top: auto;
}